[Unit]
Description=Remote bluetooth service

[Service]
ExecStart=%h/go/bin/remote-bluetooth
Restart=always
RestartSec=300

[Install]
WantedBy=default.target

